<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Article_details</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    </head>
    <body>
        <h1>{{title}}</h1>
        <h3>Details of the article:</h3>
            <img src="{{details['Image URL']}}" style="width: 500px; height: auto;"/>
            <p>source:  {{details['Source']}}   Author:  {{details['Author']}}</p>
            <p>published at:  {{details['Published At']}}</p>
            <p>description:  {{details['Description']}}</p>
            <p><a href="{{details['URL']}}">CLICK HERE TO GO TO THE ARTICLE</a></p>
            <p><a href="/categories">MAIN PAGE</a></p>
    </body>
</html>busi