<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Home Page</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@1&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}"></head>
    <body>
        <style>
            img {
                width: 14%;
                border: 2px solid #526D82;
            }
        </style>
        <div class="container-md" >
            <h1 style="font-size: 70px" class="page-name">WORLD WATCH</h1>
            <a href="/articles/business"><img src="{{ url_for('static', filename='business.png') }}"/></a>
            <a href="/articles/entertainment"><img src="{{ url_for('static', filename='entertainment.png') }} "/></a>
            <a href="/articles/general"><img src="{{ url_for('static', filename='general.png') }}"/></a>
            <a href="/articles/health"><img src="{{ url_for('static', filename='health.png') }} "/></a>
            <a href="/articles/science"><img src="{{ url_for('static', filename='science.png') }}"/></a>
            <a href="/articles/sports"><img src="{{ url_for('static', filename='sports.png') }} "/></a>
            <a href="/articles/technology"><img src="{{ url_for('static', filename='technology.png') }} "/></a>
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
                {% for bundle_name, articles in articles_data.items() %}
                    <div class="col-lg-12" style="background-color: #9DB2BF; border-radius: 10px;">
                        <h2 class="text-center ">{{ bundle_name }}</h2>
                    </div>

                    <div class="col-12 col-lg-6">
                        <div class="card h-100 text-center mb-3">
                            <img src="{{ articles[0]['Image URL'] }}" class="card-img-top custom-card-img" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">{{articles[0]['Title']}}</h5>
                                <p class="card-text">{{articles[0]['Description']}}</p>
                            </div>
                            <div class="card-footer">
                                <a href="{{articles[0]['URL']}}" class="btn go-to-button btn-lg">Read On</a>
                                <p>source:  {{articles[0]['Source']}}</p>
                            </div>
                        </div>
                    </div>

                    {% for article in articles[1:3] %}
                        <div class="col-6 col-lg-3">
                            <div class="card h-100 text-center mb-3">
                                <img src="{{ article['Image URL'] }}" class="card-img-top custom-card-img" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">{{article['Title']}}</h5>
                                    <p class="card-text">{{article['Description']}}</p>
                                </div>
                                <div class="card-footer">
                                    <a href="{{article['URL']}}" class="btn go-to-button btn-lg">Read On</a>
                                    <p>source:  {{article['Source']}}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                    {% for article in articles[3:6] %}
                        <div class="col-6 col-lg-4">
                            <div class="card h-100 text-center mb-3">
                                <img src="{{ article['Image URL'] }}" class="card-img-top custom-card-img" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">{{article['Title']}}</h5>
                                    <p class="card-text">{{article['Description']}}</p>
                                </div>
                                <div class="card-footer">
                                    <a href="{{article['URL']}}" class="btn go-to-button btn-lg">Read On</a>
                                    <p>source:  {{article['Source']}}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    </body>
    </html>